[server]
host = 0.0.0.0
port = 8080

[ESP]
esp_timeout = 10

[shutdown]
shutdown_enabled = true
countdown = 20
stop_services = false
service_timeout = 5
services = frigate,docker

[heartbeat]
timeout = 15

[dashboard]
title = PowerSentinel
refresh = 1000

[notification]
enabled = true
telegram = true
bot_token = XXXXXXXXXX:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
chat_id = -XXXXXXXXXXXX